.home-introduction p:not(:last-child) {
	margin-bottom: 0.5rem;
}

.operating-hours-table {
	background: var(--surface-container);
	width: 75%;
	margin: 2rem 0;
	border: 2px solid var(--outline);
	border-collapse: collapse;
}

.operating-hours-table > thead th {
	background: var(--tertiary-container);
	color: var(--on-tertiary-container);
	padding: 0.5rem;
	font-size: 1.25rem;
	border-bottom: 2px solid var(--outline);
}

.operating-hours-table > tbody td {
	color: var(--on-surface-variant);
	padding: 0.5rem 0;
	text-align: center;
}

.operating-hours-table > tbody > tr.closed td {
	color: var(--secondary);
}

.reservation > .reservation-btn {
	margin: 1rem 0 1.5rem 0;
	font-size: 1.25rem;
	width: fit-content;
}

.location {
	width: 100%;
}

.location > h2 {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
}

.location > img {
	width: 100%;
	height: auto;
}

/* Small device */
@media (width >= 40rem) {
	.location > h2 {
		font-size: 1.5rem;
	}
	.location > h2 img {
		width: 1.75rem;
	}
}

/* Medium device */
@media (width >= 48rem) {
	.operating-hours-table {
		width: 60%;
	}
}

/* Large device */
@media (width >= 64rem) {
	.location > h2 {
		font-size: 2rem;
	}
	.home-introduction p:not(:last-child) {
		margin-bottom: 1rem;
	}

	.operating-hours-table {
		width: 50%;
		margin: 2.75rem 0;
	}

	.operating-hours-table > thead th,
	.reservation > .reservation-btn {
		font-size: 1.5rem;
	}

	.reservation > .reservation-btn {
		margin: 2rem 0;
	}

	.operating-hours-table > tbody td {
		font-size: 1.25rem;
	}
}

/* Xtra large device */
@media (width >= 80rem) {
	.reservation > .reservation-btn {
		font-size: 1.75rem;
	}
}

/* XXtra large device */
@media (width >= 96rem) {
	.reservation > .reservation-btn {
		font-size: 1.75rem;
	}
}
