:root {
	font-family: "Sofia Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	color: var(--on-surface);
}

body {
	background-color: var(--surface);
	position: relative;
}

body > main {
	padding: 1.5rem 1rem;
}

.hero-banner {
	background-color: rgba(255, 219, 209, 0.4);
	position: relative;
	width: 100%;
	height: 300px;
}

.hero-banner > img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.hero-banner > h1 {
	color: var(--on-primary);
	font: bold;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.25rem;
	text-shadow: 2px 2px 8px var(--shadow);
}

.hero-nav {
	height: 52px;
	background-color: var(--primary);
	color: var(--on-primary);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.hero-nav > a {
	font-size: 1.25rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-introduction p:not(:last-child) {
	margin-bottom: 0.5rem;
}

.operating-hours-table {
	background: var(--surface-container);
	width: 75%;
	margin: 2rem 0;
	border: 2px solid var(--outline);
	border-collapse: collapse;
}

.operating-hours-table > thead th {
	background: var(--tertiary-container);
	color: var(--on-tertiary-container);
	padding: 0.5rem;
	font-size: 1.25rem;
	border-bottom: 2px solid var(--outline);
}

.operating-hours-table > tbody td {
	color: var(--on-surface-variant);
	padding: 0.5rem 0;
	text-align: center;
}

.operating-hours-table > tbody > tr.closed td {
	color: var(--secondary);
}

.reservation > .reservation-btn {
	font-size: 1.25rem;
	width: fit-content;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0.5rem 0;
	background-color: var(--inverse-surface);
	/* position: fixed;
	bottom: 0;
	left: 0; */
}

footer > .creator-link {
	color: var(--inverse-on-surface);
	display: flex;
	align-items: center;
	gap: 0.25rem;
	font-weight: bold;
	font-size: 1.25rem;
}

.creator-link > img {
	width: auto;
	height: 2rem;
}
