main.flex-column:has(div.food-card) {
	gap: 1rem;
}

.food-card {
	background-color: var(--surface-container-lowest);
	width: 100%;
	overflow: hidden;
	padding: 1rem 0;
	border-radius: 0.5rem;
	box-shadow: var(--shadow-1);
}

.food-card > img {
	width: 100%;
	height: 250px;
}

.food-card > .info {
	margin-top: 0.75rem;
	padding: 0 0.5rem;
}

.food-card .heading > .price {
	font-size: 1.25rem;
	font-weight: bold;
	font-style: italic;
	margin-top: 0.25rem;
}

.info > .heading {
	margin-bottom: 0.75rem;
}

.info > .heading > h2 {
	color: var(--secondary);
}

/* Medium device */
@media (width >= 48rem) {
	.food-card {
		width: 80%;
	}
}

/* Xtra Large device */
@media (width >= 80rem) {
	.food-card {
		width: 75%;
	}
}

/* XXtra Large device */
@media (width >= 96rem) {
	.food-card {
		width: 500px;
	}
}
